# Movie Recommendation

In [213]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

import surprise
from surprise.prediction_algorithms import *
from surprise import accuracy, Dataset, Reader, BaselineOnly

from surprise.model_selection import cross_validate, train_test_split
from surprise.prediction_algorithms import SVD
from surprise.prediction_algorithms import KNNWithMeans, KNNBasic, KNNBaseline
from surprise.model_selection import GridSearchCV

## Business Problem

Build a model that provides top 5 movie recommendations to a user, based on their ratings of other movies

## Data Exploration

In [214]:
links_df = pd.read_csv('data/links.csv')
movies_df = pd.read_csv('data/movies.csv')
ratings_df = pd.read_csv('data/ratings.csv')
tags_df = pd.read_csv('data/tags.csv')

ratings.csv fields:  
 - userId,movieId,rating,timestamp  
 
tags.csv fields:  

 - userId,movieId,tag,timestamp  
 
movie.csv fields:  
 - movieId,title,genres  
 
links.csv fields:  
 - MovieId,imdbId,tmdbId

In [215]:
links_df.head()
movies_df.head()
ratings_df.head()
tags_df.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [216]:
links_df.info()
movies_df.info()
ratings_df.info()
tags_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   imdbId   9742 non-null   int64
 2   tmdbId   9734 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 228.5 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     3683 non-null   int64
 1   movieId    3683 non-null   int64
 2   tag        3683 non-null   object
 3   timestamp  3683 non-null   int64
dtypes: int64(3), object(1)
memory usage: 115.2+ KB

We will be looking at ratings_df first, as it contains all the relevant columns.
Since we are interested in recommending movies users based on their ratings, target column is movieId, with userId as a feature.

In [217]:
#Combine dfs to get a larger understanding of data
df = ratings_df.merge(movies_df, how="left", on="movieId")
df

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
...,...,...,...,...,...,...
100831,610,166534,4.0,1493848402,Split (2017),Drama|Horror|Thriller
100832,610,168248,5.0,1493850091,John Wick: Chapter Two (2017),Action|Crime|Thriller
100833,610,168250,5.0,1494273047,Get Out (2017),Horror
100834,610,168252,5.0,1493846352,Logan (2017),Action|Sci-Fi
100835,610,170875,3.0,1493846415,The Fate of the Furious (2017),Action|Crime|Drama|Thriller

In [218]:
df['genres'].nunique()

951

Our unique genres consist of: 
Action
* Adventure
* Animation
* Children's
* Comedy
* Crime
* Documentary
* Drama
* Fantasy
* Film-Noir
* Horror
* Musical
* Mystery
* Romance
* Sci-Fi
* Thriller
* War
* Western
* (no genres listed)

But We have 951 types of genres, which include combinations of the above

In [219]:
df["rating"].describe()

count    100836.000000
mean          3.501557
std           1.042529
min           0.500000
25%           3.000000
50%           3.500000
75%           4.000000
max           5.000000
Name: rating, dtype: float64

In [220]:
print("userIds", df['userId'].nunique())
print("movieIds", df['movieId'].nunique())
## We have 610 unique users
## and 9724 different movies

userIds 610
movieIds 9724

In [221]:
df['timestamp']

0          964982703
1          964981247
2          964982224
3          964983815
4          964982931
             ...
100831    1493848402
100832    1493850091
100833    1494273047
100834    1493846352
100835    1493846415
Name: timestamp, Length: 100836, dtype: int64

Timestamps represent seconds since midnight Coordinated Universal Time (UTC) of January 1, 1970.
Which is hard to interpret. Converting to date-time format:

In [222]:
#print(dt.datetime.fromtimestamp(df.loc['timestamp']))
#print(dt.datetime.fromtimestamp(df.loc['timestamp']))

#dt.datetime.fromtimestamp(df['timestamp'])

df['timestamp'] = pd.to_datetime(df['timestamp'], unit='s')
df['timestamp']
df.head()
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

## Data Processing for Modeling

We will be looking and modeling ratings_df, as it contains all the columns we are interested in.

In [223]:
ratings_df

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [306]:
#remove timestamp column, which is unnecessary for modeling
ratings_df = ratings_df.drop("timestamp", axis=1)
ratings_df

KeyError: "['timestamp'] not found in axis"

In [307]:
ratings_df

    userId  movieId rating
0        1        1      4
1        1        3      4
2        1        6      4
3        1       47      5
4        1       50      5
..     ...      ...    ...
0     1000      274      5
1     1000     2518      4
2     1000    46967      3
3     1000     6596      2
4     1000      274      1

[100841 rows x 3 columns]

Transform dataset into suprise compatible data

In [225]:
from surprise import Reader, Dataset

reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(ratings_df, reader)

In [226]:
full_dataset = data.build_full_trainset

#view the number of users and items
print('Number of users: ', dataset.n_users, '\n')
print('Number of items: ', dataset.n_items)

Number of users:  610

Number of items:  9724

Splitting Data into Data set A, for training, and B for testing:

In [227]:
##Manual Train/test split:

# A = 80% of the data, B = 20% of the data
#raw_ratings = data.raw_ratings
#threshold = int(0.8 * len(raw_ratings))
#A_raw_ratings = raw_ratings[:threshold]
#B_raw_ratings = raw_ratings[threshold:]

##Data is now the set A
#data.raw_ratings = A_raw_ratings

#trainset = data.build_full_trainset()
#testset = data.construct_testset(B_raw_ratings)

#trainset is set on dataset A
#testset is set on dataset B
# this ensures no dataleakage

# we can now use 
    #algo.fit(trainset)
    #algo.test(testset)

In [250]:
## We could just use train_test_split instead of doing it manually 

trainset, testset = train_test_split(data, test_size=0.2,random_state=42)

In [248]:
#function for outputting the accuracy predictions on an algorithm

def train_and_test_pred (algo, trainset, testset): 
    algo.fit(trainset)
   
    train_predictions = algo.test(trainset.build_testset())
    print('biased accuracy on train set: ')
    print(accuracy.rmse(train_predictions))
    test_predictions = algo.test(testset)
    print('unbiased accuracy on test set: ')
    print(accuracy.rmse(test_predictions))

## Determining the Best Model

Compare different models and determine which is the best.   
We will use RMSE to evaluate models for now

### SVD:

In [251]:
# performing a gridsearch with SVD

params = {
    'n_factors': [20,50,100],
    'reg_all': [0.02, 0.05, 0.1]
}

SVD_grid = GridSearchCV(SVD, param_grid = params, cv=5)
SVD_grid.fit(data)

In [252]:
#view grid search results
print(SVD_grid.best_params)
print(SVD_grid.best_score)

{'rmse': {'n_factors': 20, 'reg_all': 0.05}, 'mae': {'n_factors': 20, 'reg_all': 0.02}}
{'rmse': 0.8752694123265279, 'mae': 0.6738782839797175}

In [256]:
## choose the best algo
algo = SVD_grid.best_estimator['rmse']

In [254]:
# Use our function to output train/test predictions
train_and_test_pred(algo, trainset, testset)

biased accuracy on train set:
RMSE: 0.8056
0.8055865758331578
unbiased accuracy on test set:
RMSE: 0.8830
0.8830479090492301

### KNNBasic:

In [257]:
## view crossvalidate score with KNNBasic:

knn_basic = KNNBasic(sim_options={"name": 'pearson', 'user_based':True})
cv_knn_basic = cross_validate(knn_basic, data, n_jobs=-1)
cv_knn_basic

{'test_rmse': array([0.97647125, 0.96876095, 0.98759337, 0.98465294, 0.98363855]),
 'test_mae': array([0.75442713, 0.74512977, 0.76320275, 0.75784858, 0.75892987]),
 'fit_time': (0.784174919128418,
  0.8055026531219482,
  0.8020296096801758,
  0.7598710060119629,
  0.7648298740386963),
 'test_time': (1.3605248928070068,
  1.3406856060028076,
  1.362013578414917,
  1.313901662826538,
  1.2811660766601562)}

In [258]:
#average cross validation score:
np.mean(cv_knn_basic['test_rmse'])

0.9802234138647543

In [294]:
## GridSearch with KNNBasic
## note: this takes several minutes to run
params = {
    'k': [20,40,60],
    'sim_options': {
        'name':['msd', 'cosine', 'pearson'],
        'user_based': [True,False]   
    }
}
KNNBasic_grid = GridSearchCV(KNNBasic, param_grid = params, cv=5)
KNNBasic_grid.fit(data)

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.

In [295]:
#view grid search results
print(KNNBasic_grid.best_params)
print(KNNBasic_grid.best_score)

{'rmse': {'k': 60, 'sim_options': {'name': 'msd', 'user_based': False}}, 'mae': {'k': 60, 'sim_options': {'name': 'msd', 'user_based': False}}}
{'rmse': 0.9110794614999813, 'mae': 0.7013363323211289}

In [296]:
#take the best model and 
#test on train/test 

algo = KNNBasic_grid.best_estimator['rmse']
train_and_test_pred(algo, trainset, testset)

Computing the msd similarity matrix...
Done computing similarity matrix.
biased accuracy on train set:
RMSE: 0.5014
0.5013979150537194
unbiased accuracy on test set:
RMSE: 0.9168
0.9167722493305924

### KNNBaseline

In [260]:
##view our cross validation score with KNNBaseline:

knn_baseline = KNNBaseline(sim_options={"name": 'pearson', 'user_based':True})
cv_knn_baseline = cross_validate(knn_baseline, data)
cv_knn_baseline

Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.

{'test_rmse': array([0.88677525, 0.89052149, 0.8885817 , 0.8857827 , 0.88932634]),
 'test_mae': array([0.67833764, 0.68362775, 0.67740689, 0.67544341, 0.68272225]),
 'fit_time': (0.7053110599517822,
  0.7182059288024902,
  0.9954416751861572,
  0.7135488986968994,
  0.7271335124969482),
 'test_time': (1.4418697357177734,
  1.4488139152526855,
  1.4840292930603027,
  1.420046091079712,
  1.4101536273956299)}

In [261]:
np.mean(cv_knn_baseline['test_rmse'])

0.8881974948440214

In [262]:
## now view our accuracy with train/test data
train_and_test_pred(knn_baseline, trainset, testset)

Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
biased accuracy on train set:
RMSE: 0.5759
0.5759278845918823
unbiased accuracy on test set:
RMSE: 0.8928
0.8927787505891083

## Making Recommendations

We want to return the actual title of a movie instead of an ID

In [242]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

### Making simple predictions

Taking our best algorithm so far: SVD

In [264]:
best_algo = SVD(n_factors=50, reg_all = 0.05)
best_algo.fit(trainset)

In [266]:
best_algo.predict(2,4)

Prediction(uid=2, iid=4, r_ui=None, est=3.3024815397133183, details={'was_impossible': False})

In [267]:
## our prediction output is userId, itemId, r_ui, estimated rating, details

### Obtaining User Rankings

Creating a function that allows the current user to rate movies in our database. The function will save the ratings of the current user and give recommendations based on their preferences.

The function `movie_rater()` should take as parameters: 

* `movie_df`: DataFrame - a dataframe containing the movie ids, name of movie, and genres
* `num`: int - number of ratings
* `genre`: string - a specific genre from which to draw movies

The function returns:
* rating_list : list - a collection of dictionaries in the format of {'userId': int , 'movieId': int , 'rating': float}

In [269]:
movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [299]:
def movie_rater(movie_df,num, genre=None):
    userId = 1000
    rating_list = []
    
    while num > 0:    
        if genre:
            movie = movie_df[movie_df['genres'].str.contains(genre)].sample(1)
        else:
            movie = movie_df.sample(1)
            
        print(movie)
        rating = input("Please rate this movie from 1-5, press n if you have not seen :\n")
    
        try: 
            if 1 <= int(rating) <= 5:
                rating_movie = {'userId': userId, "movieId":movie['movieId'].values[0], "rating": rating}
                rating_list.append(rating_movie)
                num -= 1
        except:
            print('Please enter a valid rating from 1-5')
            continue
    return rating_list

In [273]:
movies_df.loc[movies_df["movieId"]==663]

     movieId                                 title  genres
553      663  Kids in the Hall: Brain Candy (1996)  Comedy

In [311]:
## Trying out the function:
user_rating = movie_rater(movies_df, 5, "Comedy")
user_rating

      movieId               title          genres
7565    85565  Chalet Girl (2011)  Comedy|Romance
Please rate this movie from 1-5, press n if you have not seen :
4
      movieId                                        title            genres
7779    91671  Alvin and the Chipmunks: Chipwrecked (2011)  Animation|Comedy
Please rate this movie from 1-5, press n if you have not seen :
4
      movieId                                 title                genres
5668    27644  Remember Me (Ricordati di me) (2003)  Comedy|Drama|Romance
Please rate this movie from 1-5, press n if you have not seen :
4
      movieId                 title  genres
5403    25752  Freshman, The (1925)  Comedy
Please rate this movie from 1-5, press n if you have not seen :
4
      movieId                       title  genres
3331     4509  Great Outdoors, The (1988)  Comedy
Please rate this movie from 1-5, press n if you have not seen :
4

[{'userId': 1000, 'movieId': 85565, 'rating': '4'},
 {'userId': 1000, 'movieId': 91671, 'rating': '4'},
 {'userId': 1000, 'movieId': 27644, 'rating': '4'},
 {'userId': 1000, 'movieId': 25752, 'rating': '4'},
 {'userId': 1000, 'movieId': 4509, 'rating': '4'}]

### Making Predictions with the New Ratings

In [276]:
user_rating

[{'userId': 1000, 'movieId': 274, 'rating': '5'},
 {'userId': 1000, 'movieId': 2518, 'rating': '4'},
 {'userId': 1000, 'movieId': 46967, 'rating': '3'},
 {'userId': 1000, 'movieId': 6596, 'rating': '2'},
 {'userId': 1000, 'movieId': 274, 'rating': '1'}]

In [313]:
## add the new ratings to the original ratings DataFrame
user_ratings_df = pd.DataFrame(user_rating)
ratings_df = pd.concat([ratings_df, user_ratings_df], axis=0)
new_data = Dataset.load_from_df(ratings_df, reader)

In [281]:
# make predictions for the user
# you'll probably want to create a list of tuples in the format (movie_id, predicted_score)
recc_movies = []
for m_id in new_df['movieId'].unique():
    prediction = best_algo.predict(1000,m_id)[3]
    recc_movies.append( (m_id, prediction) )

In [282]:
# order the predictions from highest to lowest rated

ranked_movies = sorted(recc_movies, key=lambda x:x[1], reverse = True)

In [302]:
ranked_movies

[(858, 4.267089211806522),
 (296, 4.2544888292107785),
 (318, 4.239404622316781),
 (1221, 4.231819254507933),
 (2959, 4.218571408559769),
 (750, 4.217218497526687),
 (50, 4.196163515648796),
 (1213, 4.182435668340897),
 (1276, 4.176829968961727),
 (1204, 4.175200920696795),
 (898, 4.171818590045663),
 (1261, 4.159018750933442),
 (2019, 4.150946001583618),
 (933, 4.150397848386026),
 (48516, 4.1439813120552875),
 (4973, 4.137416739307285),
 (2324, 4.137131647789212),
 (1228, 4.135482403014425),
 (56782, 4.126052161274939),
 (1233, 4.125357807216946),
 (1136, 4.118282185335452),
 (1201, 4.117427543141067),
 (1248, 4.1143224173895225),
 (904, 4.113924405538391),
 (1262, 4.1112671614303995),
 (1104, 4.11087450041822),
 (720, 4.109810540203233),
 (7153, 4.104908305159104),
 (1208, 4.104852940914796),
 (1223, 4.10420501778623),
 (1089, 4.100385525384872),
 (4993, 4.098349607155989),
 (1196, 4.090136423851055),
 (1237, 4.088837773855071),
 (3275, 4.087340681020859),
 (2571, 4.0853148406597555),
 (741, 4.083898534430317),
 (527, 4.077945796866539),
 (5618, 4.076072902710011),
 (57669, 4.074990572741354),
 (1199, 4.071680171926911),
 (2329, 4.071180397403214),
 (1198, 4.06740403091443),
 (7361, 4.064950741977946),
 (112552, 4.061278047325331),
 (3451, 4.0603131284035925),
 (260, 4.059887983256819),
 (922, 4.057179404352719),
 (1197, 4.056309781496003),
 (1193, 4.053068202867707),
 (60069, 4.051771380901522),
 (1252, 4.051025424742376),
 (6350, 4.050519935044874),
 (912, 4.045870818609922),
 (5952, 4.045064059793198),
 (1235, 4.043529570843238),
 (4226, 4.0406621998766),
 (866, 4.038633331780699),
 (1148, 4.0382316748219935),
 (3468, 4.037459982638663),
 (908, 4.034661611755737),
 (475, 4.032472757067426),
 (2858, 4.02944938714026),
 (1249, 4.029093261250731),
 (2360, 4.026919004864302),
 (51255, 4.026763188661401),
 (109487, 4.025081513756722),
 (246, 4.024918673817451),
 (177593, 4.022929367797748),
 (541, 4.022819749778223),
 (247, 4.022591756104571),
 (3147, 4.020436222783207),
 (4878, 4.020131873179191),
 (2160, 4.019936228997778),
 (1242, 4.019661250215782),
 (6711, 4.016435078075555),
 (1225, 4.015454349024105),
 (44555, 4.01211809895348),
 (1215, 4.011312786511004),
 (38061, 4.009897462237815),
 (930, 4.007585170452515),
 (1217, 4.0056916604964234),
 (1266, 4.003014935712425),
 (1259, 4.002983824319373),
 (105504, 4.0002052585135255),
 (2028, 3.99812514298371),
 (7090, 3.9976593196793733),
 (5995, 3.995247677761612),
 (6874, 3.9936560462540687),
 (1283, 3.9918507722938346),
 (1172, 3.9896782888882645),
 (2067, 3.988060348192309),
 (8132, 3.987773717692197),
 (593, 3.9861045464715197),
 (923, 3.985617998677695),
 (1617, 3.984240082989697),
 (8874, 3.983971573269498),
 (1178, 3.9824555129667556),
 (6016, 3.9823488802636766),
 (48780, 3.981661416598364),
 (98491, 3.9814053773294114),
 (3972, 3.9791414017550197),
 (58559, 3.9790927059434567),
 (1288, 3.978004782273559),
 (4011, 3.974986875492548),
 (951, 3.9745478142088233),
 (1245, 3.973458963311362),
 (1219, 3.973384136905486),
 (6787, 3.973009046354161),
 (148626, 3.971805651457065),
 (5690, 3.970923523114735),
 (2542, 3.9707730717622165),
 (1227, 3.96940891033304),
 (68954, 3.9671838553117222),
 (1673, 3.9670964369813366),
 (44195, 3.9664056646271635),
 (778, 3.9630385711782954),
 (913, 3.9629505765248463),
 (1732, 3.9625656482484675),
 (1945, 3.9615584292604087),
 (2318, 3.961424995530742),
 (79132, 3.9583898550817738),
 (72226, 3.9582916127857506),
 (4499, 3.9580388434362423),
 (2788, 3.957626033451825),
 (1719, 3.957362577955011),
 (899, 3.9571198971317787),
 (2239, 3.956138530364421),
 (1258, 3.9541679151863187),
 (78499, 3.9530133033260504),
 (3201, 3.9506403034597053),
 (5902, 3.9500831155281078),
 (356, 3.9496301014508544),
 (3037, 3.9495694784468167),
 (69481, 3.949562112622315),
 (68157, 3.944676143115098),
 (1207, 3.9424734926507803),
 (3429, 3.9397192642761523),
 (3347, 3.936523063395824),
 (914, 3.9352280651536358),
 (5747, 3.93522528467818),
 (168252, 3.9342843200910447),
 (1041, 3.9339564726355736),
 (27156, 3.9336032413373707),
 (16, 3.9324307319496006),
 (1234, 3.9297568676235475),
 (1267, 3.929478050972708),
 (106642, 3.9284355713811987),
 (3730, 3.9269450296226385),
 (54997, 3.926477532699093),
 (928, 3.9254642203889016),
 (1884, 3.9253904209351993),
 (30707, 3.9242112709317682),
 (1291, 3.9232600821635746),
 (46578, 3.922667460842472),
 (1222, 3.9208445158864036),
 (903, 3.9201487650330114),
 (1200, 3.9189685804715717),
 (2502, 3.9171766968011883),
 (3000, 3.9149604679517145),
 (1203, 3.9149580181333055),
 (88163, 3.914919698208115),
 (1210, 3.9147116201163557),
 (6377, 3.9143498195042903),
 (81834, 3.9143029384367862),
 (6807, 3.9129775833798677),
 (2997, 3.9117897865490647),
 (2804, 3.911273777529531),
 (142488, 3.9108713367264527),
 (106782, 3.9108058331153335),
 (916, 3.9091015824530086),
 (1704, 3.9090990326131876),
 (215, 3.908942794363577),
 (27773, 3.908531461068772),
 (3681, 3.908318617514662),
 (1272, 3.9057776159548387),
 (7371, 3.905431747330498),
 (3671, 3.905227400877576),
 (608, 3.9040419362241243),
 (1270, 3.903609580984019),
 (8368, 3.903164671418878),
 (38038, 3.901182770614906),
 (71899, 3.90100836731687),
 (1244, 3.900803921784141),
 (2580, 3.900318667327519),
 (1250, 3.899951111821094),
 (3424, 3.8995911886764425),
 (44191, 3.8994637164264594),
 (55820, 3.898777592995015),
 (91529, 3.8977574031549893),
 (48774, 3.8976057776792374),
 (3683, 3.8971944008554926),
 (111, 3.896711718164032),
 (1103, 3.8960804719248587),
 (29, 3.895035603148205),
 (4995, 3.8933150149411375),
 (1921, 3.8930613968310115),
 (6502, 3.8929183857101752),
 (110, 3.8929115493546917),
 (26662, 3.892275815460199),
 (47, 3.8921421839878776),
 (1387, 3.891791614413715),
 (3508, 3.891774172540985),
 (7156, 3.891317334126926),
 (28, 3.890639865739031),
 (2944, 3.8900762052246924),
 (55118, 3.8897303201661333),
 (115569, 3.8876459764930855),
 (2288, 3.887086271446604),
 (6620, 3.8869406716634645),
 (1086, 3.8862534608319814),
 (7438, 3.8857950535781325),
 (99114, 3.88529192230818),
 (112852, 3.884947485683985),
 (1278, 3.8844342075108265),
 (954, 3.8840728614439395),
 (293, 3.8840124145072776),
 (910, 3.883376892282273),
 (68358, 3.8827666140123487),
 (31658, 3.882450215230205),
 (745, 3.882307431864299),
 (2398, 3.881574739919827),
 (3836, 3.880720492551698),
 (1247, 3.880391182206372),
 (4642, 3.87989939454974),
 (1079, 3.879748299887495),
 (3328, 3.8789096989592906),
 (5971, 3.877755278088258),
 (3153, 3.876612272866826),
 (170705, 3.8764800599121476),
 (64614, 3.875852901376608),
 (926, 3.8749862319875157),
 (3083, 3.8743411304204556),
 (3152, 3.8742592698202736),
 (3949, 3.873953500818592),
 (6283, 3.8735783374050574),
 (162, 3.8725861091990113),
 (2936, 3.872358016285192),
 (1090, 3.8722881813265415),
 (5903, 3.8716701893544423),
 (3675, 3.8707218356336597),
 (5500, 3.869891054058408),
 (5617, 3.869859491238954),
 (3030, 3.8679110052317847),
 (48738, 3.8677922020496136),
 (109374, 3.8671734680322816),
 (306, 3.866260627649843),
 (88810, 3.8650162317846477),
 (3362, 3.864487904708914),
 (3703, 3.863218790109223),
 (96821, 3.8627657148305317),
 (4235, 3.8626930136265987),
 (1967, 3.862653507420031),
 (2692, 3.862576819420057),
 (8949, 3.8625720469597544),
 (93510, 3.8625483925759476),
 (2951, 3.8615560655379984),
 (2761, 3.8602683606786976),
 (66934, 3.859609877340263),
 (1028, 3.8587825103277176),
 (6591, 3.8582707923592165),
 (4027, 3.8570694070112035),
 (4144, 3.857032795371212),
 (81845, 3.8569275104173824),
 (50872, 3.8568563394626705),
 (76093, 3.854856650495219),
 (1206, 3.854108758004812),
 (2194, 3.852873062032845),
 (1231, 3.852018010174703),
 (3435, 3.8517900491291623),
 (111759, 3.8502468629662885),
 (74458, 3.8485506447272626),
 (2921, 3.8479408055693702),
 (3507, 3.8476765290797954),
 (1214, 3.8469143893741524),
 (116797, 3.8468901197417265),
 (106918, 3.8454424226143615),
 (8950, 3.8447422314902613),
 (122926, 3.8444879623697075),
 (4034, 3.8426849923650708),
 (69844, 3.8413479162663475),
 (969, 3.8411100225109465),
 (40819, 3.8409592631436507),
 (27611, 3.840498415594703),
 (33660, 3.8388747542822137),
 (8961, 3.8383627674789724),
 (6440, 3.8383495293971897),
 (3246, 3.8377403227080062),
 (1653, 3.8363283810725823),
 (7981, 3.836285226258021),
 (164179, 3.835097444337698),
 (80906, 3.834881239061304),
 (93838, 3.834804873413268),
 (55247, 3.8342080894808386),
 (7022, 3.834038176504758),
 (64839, 3.8339718494417925),
 (5026, 3.833834616115929),
 (457, 3.8337437534379775),
 (1954, 3.833322876174362),
 (101, 3.833146827556635),
 (1394, 3.832919341834257),
 (1411, 3.8308758014386584),
 (2700, 3.830778895344386),
 (34405, 3.8299509511727132),
 (7234, 3.829947780551173),
 (2076, 3.829715663683634),
 (1238, 3.8275962492119304),
 (1084, 3.826952731091936),
 (62336, 3.826348351683319),
 (1357, 3.826179033605725),
 (599, 3.825244057991968),
 (1303, 3.825219734890265),
 (63082, 3.824883734441582),
 (1280, 3.824017768110482),
 (1845, 3.8232262396183163),
 (25771, 3.822068089607638),
 (6, 3.8214232392932885),
 (171763, 3.8204408839521684),
 (49272, 3.820177732504766),
 (924, 3.8198360515100953),
 (1304, 3.8195015244622366),
 (5008, 3.819094574869339),
 (2762, 3.8189957520018307),
 (61240, 3.818885936494642),
 (3897, 3.8178391641865193),
 (909, 3.817628704393084),
 (6104, 3.8169898924505317),
 (1080, 3.8163218746034313),
 (32, 3.815814974687467),
 (497, 3.815116347505573),
 (2947, 3.8150913833410187),
 (64716, 3.8148306858765815),
 (57640, 3.81430634578635),
 (800, 3.8137155035793033),
 (5072, 3.8136514769653265),
 (3266, 3.812445457342766),
 (1961, 3.8123495960231377),
 (54503, 3.811924417657129),
 (2248, 3.8110460609131285),
 (1230, 3.810360078193408),
 (1212, 3.8101382621946214),
 (1265, 3.809912614492124),
 (1131, 3.8093279912457585),
 (7099, 3.8091553412085943),
 (32587, 3.8088911624502026),
 (4967, 3.8088584932455567),
 (40815, 3.80813691969835),
 (2924, 3.807864951622042),
 (3334, 3.8076181749651536),
 (92535, 3.8073464397561145),
 (1209, 3.8073324330751768),
 (27801, 3.8067741879198085),
 (60684, 3.806192389157284),
 (3578, 3.8053207400171996),
 (1240, 3.8045089788461954),
 (97304, 3.804193787024325),
 (3363, 3.8032524024092256),
 (308, 3.803122589292168),
 (7387, 3.803103989404781),
 (52952, 3.80276925576965),
 (57504, 3.8021460557131985),
 (3967, 3.80164695926013),
 (80463, 3.8010428497183364),
 (2020, 3.7996211484447793),
 (2289, 3.7991284605871627),
 (134130, 3.7984825051423887),
 (158966, 3.798038128848186),
 (88125, 3.797835668865026),
 (3814, 3.7974950292168055),
 (2912, 3.7968127721728906),
 (8477, 3.7966859637930805),
 (3740, 3.7957271509423016),
 (971, 3.795533957060516),
 (93840, 3.7952051460101726),
 (6460, 3.794076408592665),
 (175, 3.793857524228722),
 (44761, 3.793758371608529),
 (86345, 3.7936477343280433),
 (4886, 3.793295949337719),
 (3066, 3.7925843908132735),
 (7983, 3.79240657655911),
 (2202, 3.791999938355227),
 (3148, 3.791305328655534),
 (55721, 3.791162034495796),
 (89904, 3.7905970823154593),
 (441, 3.790388408309658),
 (2313, 3.7901118359889443),
 (112290, 3.78958038294528),
 (37741, 3.789048280217018),
 (5013, 3.7886161013676913),
 (89492, 3.788308589714166),
 (2351, 3.7873118404498975),
 (58998, 3.7867550151454203),
 (555, 3.78669124997133),
 (1284, 3.786671766293273),
 (98961, 3.785960959903571),
 (119145, 3.785214318121121),
 (106920, 3.7847413620275896),
 (54190, 3.7842769292323104),
 (3213, 3.7842301862069108),
 (106100, 3.78382075559829),
 (55765, 3.7837842456904296),
 (902, 3.7828083703953657),
 (3200, 3.782626733162813),
 (7143, 3.782305338780525),
 (6993, 3.7785817240073922),
 (1956, 3.7779935160543046),
 (7802, 3.776908171351),
 (290, 3.7751087036366644),
 (1307, 3.7749862874604925),
 (67255, 3.773453758030341),
 (2231, 3.773062724639957),
 (81847, 3.7729615859100725),
 (5379, 3.77258402465648),
 (3783, 3.7718258439981023),
 (104879, 3.771616466170687),
 (65261, 3.771106178636956),
 (51709, 3.7706013823572935),
 (1035, 3.7701995518162286),
 (55442, 3.7687838322923337),
 (2511, 3.7687455286787435),
 (1446, 3.7685804283943685),
 (3384, 3.7683523570836353),
 (3365, 3.7683471533062014),
 (58, 3.7682304950916987),
 (8042, 3.768050345997581),
 (127098, 3.7677432321429105),
 (1953, 3.7668348828455365),
 (2186, 3.7667634947313333),
 (53129, 3.766656150274653),
 (81932, 3.7664333127394514),
 (4848, 3.7662362948102017),
 (3983, 3.766051773217213),
 (8014, 3.7649221248020606),
 (84152, 3.764870523586052),
 (8873, 3.764865965995439),
 (1224, 3.7645983733823076),
 (905, 3.764105109761593),
 (104211, 3.764068413473661),
 (115713, 3.763769495145656),
 (110102, 3.763478915109927),
 (4105, 3.762823545748925),
 (115617, 3.7628070025157108),
 (3108, 3.762801522873336),
 (1277, 3.762411741409603),
 (5669, 3.7605997448679367),
 (5377, 3.7605233191956007),
 (994, 3.759718527819219),
 (3022, 3.759635561878971),
 (33794, 3.7594458687457184),
 (1927, 3.7594047777946207),
 (51935, 3.7589133530817382),
 (1279, 3.758090355064246),
 (5291, 3.7580179220998327),
 (2565, 3.7579606649069586),
 (4406, 3.7578882588209113),
 (54001, 3.7578391903636548),
 (2583, 3.7576221255251827),
 (4262, 3.7567603130234186),
 (8370, 3.756403822584425),
 (52885, 3.7561452515541514),
 (3504, 3.7554789874487837),
 (27879, 3.7548820452608265),
 (1682, 3.7544677210387962),
 (307, 3.7543995967689834),
 (589, 3.754267748528964),
 (77455, 3.753716067294097),
 (54881, 3.753637678243809),
 (2973, 3.7522874045788606),
 (1292, 3.7519745569207967),
 (122916, 3.75141301452148),
 (122912, 3.751210080967157),
 (27397, 3.7511681178108724),
 (5878, 3.7511433297626424),
 (1251, 3.7499378340788376),
 (56251, 3.7495493247398044),
 (7132, 3.748540160122401),
 (2138, 3.747707512027098),
 (6331, 3.7476915029702322),
 (56367, 3.7476264871957143),
 (73017, 3.747528206682315),
 (1950, 3.7463813050557344),
 (2871, 3.7462228354453315),
 (98154, 3.7458719311587036),
 (148881, 3.7456464917173364),
 (4103, 3.7449714956029143),
 (159817, 3.744827415747237),
 (6791, 3.744707527345847),
 (1949, 3.744591927338673),
 (915, 3.7437858118355596),
 (7265, 3.743669700770785),
 (3871, 3.7428683181405566),
 (80549, 3.7425661406581185),
 (91077, 3.7424791696236053),
 (5010, 3.741952286487889),
 (5294, 3.7419160912698954),
 (3494, 3.74146214149101),
 (1285, 3.7414602350668735),
 (122904, 3.7410824286271516),
 (1374, 3.740698208982553),
 (2791, 3.7404716294814344),
 (5992, 3.7404196831328815),
 (139385, 3.7398231230769854),
 (3307, 3.7397481824120207),
 (111362, 3.73957331070027),
 (7323, 3.7395373744677594),
 (1293, 3.73936345692082),
 (965, 3.7387058259710755),
 (59315, 3.737814612651416),
 (92259, 3.7375979621371167),
 (115149, 3.7374241256363545),
 (4776, 3.7373084277313895),
 (71535, 3.736902035611427),
 (3996, 3.736676903532945),
 (47099, 3.7363451704170676),
 (4979, 3.736246742504257),
 (52328, 3.736234849194409),
 (2300, 3.736040240292543),
 (86377, 3.7354399459437335),
 (953, 3.735115571142958),
 (1273, 3.7344140611997183),
 (5782, 3.733728374849256),
 (3095, 3.7333414301643866),
 (2686, 3.733096307119702),
 (6442, 3.732951461419565),
 (8636, 3.7314139178435384),
 (3359, 3.731150466295183),
 (1, 3.7306988452061858),
 (3160, 3.7303310478098926),
 (2739, 3.7302066102076123),
 (8366, 3.72996488184719),
 (31364, 3.7299515315210927),
 (1997, 3.729921275802354),
 (1287, 3.7298420468632454),
 (1748, 3.729775544290493),
 (1281, 3.7297094176295964),
 (2159, 3.7295180689973155),
 (1036, 3.7294542187481894),
 (7842, 3.7291065717797243),
 (87232, 3.728802443251663),
 (3629, 3.7286950104842465),
 (3499, 3.7283622752136445),
 (71282, 3.7283232825681485),
 (2010, 3.7282664106881676),
 (111617, 3.728045755115214),
 (1183, 3.727804706428496),
 (2291, 3.7276565290397174),
 (33166, 3.727616348781488),
 (134853, 3.726875565328986),
 (1344, 3.726874875025323),
 (104374, 3.726711550668378),
 (2529, 3.726457857063382),
 (96829, 3.7255670790505855),
 (80489, 3.725040076895339),
 (93721, 3.724549608874187),
 (5746, 3.7237900753132003),
 (249, 3.7237359745395566),
 (86781, 3.7237248063984523),
 (6867, 3.7233766416168854),
 (122918, 3.7233389502918275),
 (6539, 3.7227120214451306),
 (5673, 3.722050683478437),
 (2203, 3.721417857806929),
 (112138, 3.7213433378634955),
 (112556, 3.721325107035802),
 (53894, 3.720934341115729),
 (3317, 3.7204549770778264),
 (2810, 3.720445865617107),
 (79008, 3.719807177204921),
 (31410, 3.7194032103178603),
 (5418, 3.719399446189903),
 (3358, 3.7193978361761),
 (1077, 3.7188793465448065),
 (4467, 3.7188215605139927),
 (45728, 3.7185793805799405),
 (54995, 3.7185508944609857),
 (36708, 3.7183826147690504),
 (26258, 3.7183330219649697),
 (7569, 3.7181484526353272),
 (1734, 3.7177120026965413),
 (89745, 3.7173544485230643),
 (4437, 3.7172331265985217),
 (7360, 3.717089116452925),
 (51931, 3.716803629662289),
 (114935, 3.7168012879221464),
 (1663, 3.716305439170095),
 (5060, 3.715738239456332),
 (68237, 3.715681410672732),
 (1246, 3.7156112859391692),
 (4021, 3.7150825276054817),
 (1957, 3.714807066530139),
 (3556, 3.7146946324647154),
 (3552, 3.7136961704593285),
 (1939, 3.712927582828325),
 (6618, 3.7120905366049106),
 (7396, 3.711536173743402),
 (140174, 3.71127764630195),
 (108932, 3.710251256737765),
 (44199, 3.7099702500812572),
 (62849, 3.709804446665805),
 (77800, 3.7086365441385136),
 (3068, 3.7086169392927366),
 (94959, 3.707978162877549),
 (3114, 3.707909371767056),
 (26131, 3.707856730618764),
 (942, 3.707275907110611),
 (4896, 3.7069574246757977),
 (4963, 3.706777878625381),
 (940, 3.7066379675456247),
 (3727, 3.7064793701939287),
 (3224, 3.7061851226101985),
 (1358, 3.705910222433993),
 (2600, 3.70572070625784),
 (1635, 3.705481880739656),
 (5225, 3.7054155096485193),
 (955, 3.705396566585383),
 (187, 3.7050805279402788),
 (2594, 3.704789723315389),
 (36535, 3.7045600993718355),
 (58301, 3.7044407550177816),
 (47629, 3.70419739262086),
 (78836, 3.704077457241281),
 (1263, 3.7040767249904247),
 (8970, 3.703761958561029),
 (2918, 3.703285354712245),
 (3100, 3.7032642509389135),
 (1354, 3.702991972514801),
 (43376, 3.7024047463948624),
 (2968, 3.702107105705769),
 (4432, 3.702005549286041),
 (3685, 3.7019799872367654),
 (2064, 3.7017840862202367),
 (2846, 3.7012722781004435),
 (176, 3.7012312683389665),
 (73023, 3.7011583482201864),
 (3341, 3.7009765404990924),
 (6214, 3.7005492532203332),
 (5444, 3.7004868774167043),
 (99813, 3.7002867335932237),
 (334, 3.7001660177149334),
 (55290, 3.7000841075799884),
 (5954, 3.699894577861402),
 (54281, 3.6997974704769576),
 (94070, 3.6990786823868764),
 (94, 3.699037880416698),
 (4306, 3.698819489507763),
 (3260, 3.697388540995661),
 (8908, 3.6971319298359413),
 (3053, 3.6970700367566742),
 (261, 3.6970227702977865),
 (7815, 3.6963012033395057),
 (7451, 3.6959801584229233),
 (4789, 3.695882457324105),
 (82459, 3.6957216234344354),
 (8645, 3.6957039647571484),
 (117887, 3.6956723716982007),
 (2550, 3.695339164277519),
 (96079, 3.694544530506114),
 (7063, 3.694118525562736),
 (4914, 3.6939512284705387),
 (1408, 3.693736038958758),
 (6187, 3.693511418142514),
 (2925, 3.6931776788349793),
 (55272, 3.6923339571657583),
 (3535, 3.692234273443363),
 (55363, 3.691809683737459),
 (4334, 3.6916829013432957),
 (3198, 3.691597084970756),
 (39292, 3.6914278738575415),
 (55276, 3.6911344446203653),
 (5915, 3.691094187271744),
 (83803, 3.690732749562678),
 (47610, 3.6901801095951607),
 (7034, 3.6901555644971906),
 (116897, 3.690048493256774),
 (3062, 3.68996808412528),
 (97921, 3.689878671246362),
 (34323, 3.689805358836491),
 (1610, 3.689732254280571),
 (1356, 3.6896905226064147),
 (2132, 3.688310681362319),
 (3503, 3.6882726372843435),
 (3910, 3.6882373414837115),
 (166528, 3.688230757781639),
 (389, 3.6880012958230908),
 (37857, 3.6876103214432843),
 (7147, 3.687541743349683),
 (86, 3.6871161784155078),
 (262, 3.686666445381683),
 (6184, 3.6862118920029436),
 (3091, 3.6859566199120772),
 (8784, 3.685636082804562),
 (3060, 3.6855352420597525),
 (26810, 3.68536667184312),
 (364, 3.6851034868279777),
 (2078, 3.6849210625728896),
 (1175, 3.6839115854815434),

We create a function `recommended_movies()` that takes in the parameters:
* `user_ratings`: list - list of tuples formulated as (user_id, movie_id) (should be in order of best to worst for this individual)
* `movie_title_df`: DataFrame 
* `n`: int - number of recommended movies 

We print out each recommended *n* movies in order from best to worst

In [286]:
# return the top n recommendations using the 
def recommended_movies(user_ratings,movie_title_df,n):
    for idx, rec in enumerate(user_ratings):
        title = movie_title_df.loc[movie_title_df['movieId'] == int(rec[0])]['title']
        print('Recommendation # ', idx+1, ': ', title, '\n')
        n-= 1
        if n == 0:
            break

Recommendation #  1 :  659    Godfather, The (1972)
Name: title, dtype: object

Recommendation #  2 :  257    Pulp Fiction (1994)
Name: title, dtype: object

Recommendation #  3 :  277    Shawshank Redemption, The (1994)
Name: title, dtype: object

Recommendation #  4 :  922    Godfather: Part II, The (1974)
Name: title, dtype: object

Recommendation #  5 :  2226    Fight Club (1999)
Name: title, dtype: object

In [303]:
recommended_movies(ranked_movies, movies_df, 5)

Recommendation #  1 :  659    Godfather, The (1972)
Name: title, dtype: object

Recommendation #  2 :  257    Pulp Fiction (1994)
Name: title, dtype: object

Recommendation #  3 :  277    Shawshank Redemption, The (1994)
Name: title, dtype: object

Recommendation #  4 :  922    Godfather: Part II, The (1974)
Name: title, dtype: object

Recommendation #  5 :  2226    Fight Club (1999)
Name: title, dtype: object

Combining all into one function:

In [309]:
def rate_and_rec(ratings_df, movies_df,num, genre=None):
    
    user_rating = movie_rater(movies_df, num, genre)
    
    ## add the new ratings to the original ratings DataFrame
    user_ratings_df = pd.DataFrame(user_rating)
    ratings_df = pd.concat([ratings_df, user_ratings_df], axis=0)
    new_data = Dataset.load_from_df(ratings_df, reader)

    # make predictions for the user
    # you'll probably want to create a list of tuples in the format (movie_id, predicted_score)
    recc_movies = []
    for m_id in new_df['movieId'].unique():
        prediction = best_algo.predict(1000,m_id)[3]
        recc_movies.append( (m_id, prediction) )
    
    # order the predictions from highest to lowest rated
    ranked_movies = sorted(recc_movies, key=lambda x:x[1], reverse = True)
    
    recommended_movies(ranked_movies,movies_df,num)

In [310]:
rate_and_rec(ratings_df, movies_df, 5, "Action")

      movieId               title                        genres
7221    73268  Daybreakers (2010)  Action|Drama|Horror|Thriller
Please rate this movie from 1-5, press n if you have not seen :
4
      movieId                                      title         genres
1908     2532  Conquest of the Planet of the Apes (1972)  Action|Sci-Fi
Please rate this movie from 1-5, press n if you have not seen :
4
      movieId                title                               genres
7271    74685  Crazies, The (2010)  Action|Drama|Horror|Sci-Fi|Thriller
Please rate this movie from 1-5, press n if you have not seen :
5
      movieId          title                 genres
6627    56156  Hitman (2007)  Action|Crime|Thriller
Please rate this movie from 1-5, press n if you have not seen :
1
      movieId               title            genres
8263   105121  Inescapable (2012)  Action|Drama|War
Please rate this movie from 1-5, press n if you have not seen :
2
Recommendation #  1 :  659    Godfather, The (1972)
Name: title, dtype: object

Recommendation #  2 :  257    Pulp Fiction (1994)
Name: title, dtype: object

Recommendation #  3 :  277    Shawshank Redemption, The (1994)
Name: title, dtype: object

Recommendation #  4 :  922    Godfather: Part II, The (1974)
Name: title, dtype: object

Recommendation #  5 :  2226    Fight Club (1999)
Name: title, dtype: object